  <div>
  <h1>Register Here:</h1>
  <form action="/create" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <p> <label>First Name:
  <input type="text" name="first_name"></label> </p>
  <p> <label>Last Name:
  <input type="text" name="last_name"></label> </p>
  <p> <label>Email:
  <input type="text" name="email"></label> </p>
  <p> <label>Password:
  <input type="text" name="password"></label> </p>
  <p> <label>Shoe Size:
  <input type="number" name="shoe_size"></label> </p>
  <p> <label>Gender
  <input type="text" name="gender"></label> </p>
  <input type="submit" value="Register">
</form>
</div>

<div>
  <h1>Login Here:</h1>
  <form action="/login" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <label>Email: <input type="text" name="email"></label>
  <label>Password: <input type="text" name="password"></label>
  <input type="submit" value="Submit">
</form>
</div>



